<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT data ANY>
<!ATTLIST data id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT simplePage ANY>
<!ATTLIST simplePage id ID #REQUIRED>
<!ELEMENT newsFeedPage ANY>
<!ATTLIST newsFeedPage id ID #REQUIRED>
<!ELEMENT searchPage ANY>
<!ATTLIST searchPage id ID #REQUIRED>
<!ELEMENT nestedContentPage ANY>
<!ATTLIST nestedContentPage id ID #REQUIRED>
]>
<root id="-1">
  <home id="1086" key="9f9a991a-257a-4c05-82ec-a22fc715f547" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-12-07T20:55:08" updateDate="2017-12-07T21:55:52" nodeName="Home" urlName="home" path="-1,1086" isDoc="" nodeType="1084" creatorName="Mario" writerName="Mario" writerID="0" template="1085" nodeTypeAlias="home" isPublished="true">
    <pageTitle><![CDATA[Home]]></pageTitle>
    <pageDescription><![CDATA[Home page]]></pageDescription>
    <newsFeedPage id="1089" key="fb16e01f-fcd3-478c-b935-52e989d5eb3e" parentID="1086" level="2" creatorID="0" sortOrder="0" createDate="2017-12-07T21:36:47" updateDate="2017-12-10T21:25:41" nodeName="News Feed" urlName="news-feed" path="-1,1086,1089" isDoc="" nodeType="1088" creatorName="Mario" writerName="Mario" writerID="0" template="1067" nodeTypeAlias="newsFeedPage" isPublished="true">
      <pageTitle><![CDATA[News Feed]]></pageTitle>
      <pageDescription><![CDATA[My solution to the news feed task]]></pageDescription>
      <displayInNav>1</displayInNav>
    </newsFeedPage>
    <nestedContentPage id="1095" key="dc64e58b-e9ad-42b4-9c20-c1055d50c778" parentID="1086" level="2" creatorID="0" sortOrder="1" createDate="2017-12-10T17:00:06" updateDate="2017-12-10T21:32:52" nodeName="Nested Content" urlName="nested-content" path="-1,1086,1095" isDoc="" nodeType="1094" creatorName="Mario" writerName="Mario" writerID="0" template="1096" nodeTypeAlias="nestedContentPage" isPublished="true">
      <pageTitle><![CDATA[Nested Content]]></pageTitle>
      <pageDescription><![CDATA[My solution to the nested content task]]></pageDescription>
      <displayInNav>1</displayInNav>
      <croppedDescr><![CDATA[<p>This image is the same example image used before but now copped to 200x200 using the Nested Content project</p>]]></croppedDescr>
      <fullImage><![CDATA[[{"key":"a671958c-33d1-4f50-a990-a1c9e51466ac","name":"Item 1","ncContentTypeAlias":"data","imageTitle":"Full Width Image","image":"umb://media/b823940a90f742eba71ac2911c712f17"}]]]></fullImage>
      <cropImage><![CDATA[[{"key":"63e60e30-2d2d-4b56-8f9d-75ed308813c0","name":"Item 1","ncContentTypeAlias":"data","cropImage":"umb://media/b823940a90f742eba71ac2911c712f17"}]]]></cropImage>
      <pageLinks><![CDATA[[{"key":"0261c251-2957-4121-9ded-a98816106e51","name":"Item 1","ncContentTypeAlias":"data","contentPicker":"umb://document/fb16e01ffcd3478cb93552e989d5eb3e"},{"key":"6e3f7c07-ce6c-4111-a085-393e1c77dfba","name":"Item 2","ncContentTypeAlias":"data","contentPicker":"umb://document/dc64e58be9ad42b49c20c1055d50c778"},{"key":"2b16d695-1f6a-46eb-97cb-2ee64ac1da22","name":"Item 3","ncContentTypeAlias":"data","contentPicker":"umb://document/3c1be275676a42a2a73040ebf2a4de47"}]]]></pageLinks>
      <imgDescr><![CDATA[<p>The image above is a 1980x1080 image example rendered above using the nested content project.</p>]]></imgDescr>
      <linksDescr><![CDATA[<p>You click on the previous links to navigate to 3 different pages from this website.</p>]]></linksDescr>
    </nestedContentPage>
    <searchPage id="1093" key="5ddd703f-818e-4ca8-a936-9c984045bbcc" parentID="1086" level="2" creatorID="0" sortOrder="2" createDate="2017-12-10T13:24:45" updateDate="2017-12-10T17:00:21" nodeName="Search" urlName="search" path="-1,1086,1093" isDoc="" nodeType="1092" creatorName="Mario" writerName="Mario" writerID="0" template="1081" nodeTypeAlias="searchPage" isPublished="true">
      <pageTitle><![CDATA[Search Page]]></pageTitle>
      <pageDescription><![CDATA[Search page]]></pageDescription>
    </searchPage>
    <simplePage id="1097" key="3c1be275-676a-42a2-a730-40ebf2a4de47" parentID="1086" level="2" creatorID="0" sortOrder="3" createDate="2017-12-10T19:58:55" updateDate="2017-12-11T10:37:52" nodeName="Read Me" urlName="read-me" path="-1,1086,1097" isDoc="" nodeType="1087" creatorName="Mario" writerName="Mario" writerID="0" template="1079" nodeTypeAlias="simplePage" isPublished="true">
      <pageTitle><![CDATA[Read Me]]></pageTitle>
      <pageDescription><![CDATA[Read me page]]></pageDescription>
      <displayInNav>1</displayInNav>
      <pageContent><![CDATA[<h3>Hello,</h3>
<p>The login for the umbraco backend is:</p>
<ul>
<li>user: ry@ry.com</li>
<li>pwd: u#^9Y#Vk]D</li>
</ul>
<p> </p>
<p>Please use the links below to navigate to the different sections of the website or use the colapsed navigation bar which includes the search bar.</p>
<p> </p>
<p> </p>
<h3>News Feed</h3>
<p><a rel="noopener noreferrer" href="/news-feed/" target="_blank">/news-feed/</a></p>
<p> </p>
<p>I used a service called Feednami to get the rss feed from sky news. I created the function RefreshFeed() that will refresh the feed every 30 minutes.</p>
<p> </p>
<p> </p>
<h3>Nested Content</h3>
<p><a rel="noopener noreferrer" href="/nested-content/" target="_blank">/nested-content/</a></p>
<p> </p>
<p>You will see 3 sections, first one is the title (text string) and a full width image. The second one, is a cropped image and the third one is the content picker.</p>
<p>For the cropped image I'm still using a Media Picker but I display the image using GetCropUrl(width, height) instead of Url().</p>
<p> </p>
<p> </p>
<h3>Search</h3>
<p><a rel="noopener noreferrer" href="/search/" target="_blank">/search/</a></p>
<p> </p>
<p>I'm using the Umbraco.Search to return content nodes that match the query submitted by the user.</p>
<p>Added to this functionality I'm using javascript to find news items with a title that matches the query. To be able to do this match I'm using <a rel="noopener noreferrer" href="https://github.com/andris9/jStorage" target="_blank">jStorage</a> to store the news feed on the client side everytime we get the rss feed. If a match exists I append the news list item to the search result list inlcuding the results we have from Umbraco.Search.</p>
<p>I should also add that I'm using a cookie to store que search query. To manipulate cookies I use the <a rel="noopener noreferrer" href="https://github.com/js-cookie/js-cookie" target="_blank">js-cookie</a> library.</p>
<p> </p>
<p> </p>
<h3>Miscellaneous</h3>
<p> </p>
<p>I configured gulp on the solution (gulpfile.js) to minify CSS, uglify js and optimize the images in the Media folder. You can see all this files on the exports folder, and if you want to run the script just use the Task Runner Explorer.</p>
<p> </p>
<p> </p>]]></pageContent>
    </simplePage>
    <simplePage id="1098" key="90591fd3-a981-45ea-9a43-d9bfdd181870" parentID="1086" level="2" creatorID="0" sortOrder="4" createDate="2017-12-10T20:02:04" updateDate="2017-12-10T20:35:56" nodeName="404 Page" urlName="404-page" path="-1,1086,1098" isDoc="" nodeType="1087" creatorName="Mario" writerName="Mario" writerID="0" template="1079" nodeTypeAlias="simplePage" isPublished="true">
      <pageTitle><![CDATA[404 Page]]></pageTitle>
      <pageDescription><![CDATA[404 Handler page]]></pageDescription>
      <pageContent><![CDATA[<h3>Oops!</h3>
<p>The page you are trying to view doesn't exist.</p>]]></pageContent>
    </simplePage>
  </home>
</root>