@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<div class="col-xs-12 col-sm-12 col-md-12">
    <img src="/media/1003/topimg.png" class="homeImg" />
</div>
<div class="col-xs-12 col-sm-12 col-md-12">
    <p id="typedtext" class="bottomSpace homeTxt"></p>
    <p class="hideFirst homeTxt"><a href="~/read-me/">Tasks</a></p>
</div>
<script src="scripts/myTyping.js"></script>
