@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}

@Html.Partial("Navigation")

<div class="container-fluid pushMenuHeight">
    <div class="col-xs-12">
        <h3>Sky News</h3>
        <ul class="skyFeed"></ul>
    </div>
</div>